# Maven stuff
target/

# Binary files
*.jar

# Eclipse Metadata
.classpath
.project


# IntelliJ Stuff #
##################
.idea
*.iml

# eclipse noise #
#################
.metadata/
.classpath
.settings/
.metadata/
.project
bin

# Overture stuff #
##################
overture.properties

# Vim metafiles #
#################
.*~
*.swp
